.informações-carro {
    background: white;
    display: block;
    border-radius: 10px;
    padding: 1% 2% 5% 2%;
    width: 730px;
    box-shadow: 0px 3px 4px 0px #8D8D8D;
    margin-top: -25px;
    z-index: 1;
    position: relative;
    margin-bottom: 5%;
}

.aba-informações-carros {
    width: 1114px;
    margin: 0 auto;
}

.primeira-linha {
    padding-bottom: 5%;
    border-bottom: 1px solid #b8b8b8;
    margin-bottom: 5%;
}

.texto-bold {
    font-weight: bold;
    padding-bottom: 10px;
}


.nome-carro-informacoes {
    font-size: 30px;
    font-family: roboto;
    display: block;
    font-weight: bold;
    padding-bottom: 1%;
}

.versão-carro {
    font-size: 14px;
    font-family: roboto;
    display: block;
    padding-bottom: 5%;
}

.cambio, .Ano, .Km, .Cor, .Troca, .Dono {
    display: inline-block;
    font-size: 16px;
    margin-right: 35px;
    font-family: roboto;
}


.Opcional, .Garantia, .informações {
    font-size: 30px;
    font-family: Roboto;
    font-weight: bold;
    padding-bottom: 5%;
}

.itens-opcionais {
    display: flex;
}

.itens-opcionais-primeira-coluna {
    display: inline-block;
}

.alinha-lista {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.texto-opcionais,.garantia-fabrica, .informações-texto {
    font-size: 16px;
    font-family: roboto;
    padding-right: 25px;
}

.informações-texto {
    line-height: 120%;
}

.segunda-linha, .terceira-linha, .quarta-linha {
    padding-bottom: 5%;
    margin-bottom: 5%;
    border-bottom: 1px solid #b8b8b8;
}

.informações-carro-2.fixed {
    top: 905px;
    position: absolute;
}

.informações-carro-2 {
    position: fixed;
    right: 395px;
    top: 375px;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    padding: 20px 25px 20px 25px;
    box-shadow: 0px 3px 4px 0px #8D8D8D;
}

.informações-preco-carro {
    font-size: 40px;
    font-family: roboto;
    display: block;
    text-align: center;
    align-items: center;
    font-weight: bold;
    padding-bottom: 25px;
}

.fundo-whatsapp {
    background-color: #27AC35;
    display: inline-flex;
    width: 303px;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    text-align: center;
    cursor: pointer;
    align-items: center;
}

.img-whatsapp {
    padding-left: 14%;
}

.texto-enviar-mensagem {
    color: white;
    padding-left: 5%;
    font-size: 20px;
    font-family: 'Roboto';
}

.telefone-informações {
    display: flex;
    padding: 10% 0% 10% 2%;
    align-items: center;
}

.telefone-texto {
    font-size: 17px;
    font-family: roboto;
    padding-left: 10px;
    display: inline-block;
}

.localizacao {
    display: flex;
    align-items: center;
    padding-bottom: 10%;
}

.texto-localizacao {
    display: inline-block;
    font-size: 17px;
    font-family: roboto;
    padding-left: 3px;
}

.veiculo-loja {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: bold;
    padding-bottom: 10%;
}

.endereco {
    display: flex;
    padding-bottom: 10%;
    align-items: center;
}

.predio {
    display: inline-block;
    font-size: 17px;
    font-family: roboto;
}

.fundo-avalie-carro {
    background-color: #8D8D8D;
    display: inline-flex;
    width: 303px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    cursor: pointer;
    align-items: center;
}

.img-dinheiro {
    padding-left: 14%;
}

.texto-avalie-carro {
    color: white;
    padding-left: 5%;
    font-size: 20px;
    font-family: 'Roboto';
}

.fixed {
    top: 300px;
    position: fixed;
}

.seta-mobile {
    display: none;
}

@media (max-width: 768px) {
    .aba-informações-carros {
        width: 95%;
    }

    .seta-mobile {
        width: 50px;
        right: 5px;
        position: absolute;
        z-index: 2;
        display: block
    }

    .informações-carro {
        width: 100%;
    }

    .informações-carro-2 {
        display: none;
        transition: all 0.5s;
        right: -100vw;
    }

    .cambio, .Ano, .Km, .Cor, .Troca, .Dono {
        padding-top: 2%;
    }


}

@media (min-width: 769px) and (max-width: 1439px) {

    .aba-informações-carros {
        width: 95%;
    }

    .seta-mobile {
        width: 50px;
        right: 2%;
        position: absolute;
        z-index: 2;
        display: block
    }

    .informações-carro {
        width: 100%;
    }

    .informações-carro-2 {
        display: none;
        transition: all 0.5s;
        right: -300vw;
    }

    .cambio, .Ano, .Km, .Cor, .Troca, .Dono {
        padding-top: 2%;
    }

}